<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>YouTube Video Downloader</title>
  <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" />
</head>
<body>
  <div class="container">
    <header>
      <h1>YouTube Video Downloader</h1>
    </header>

    <main>
      <form action="/download" method="post">
        <img class="thmbnail_pic" src="{{tmbn}}">
        <h4>{{titl}}</h4>
        <h4>Wait Your Video is downloading</h4>
      </form>
    </main>
    
  </div>
</body>
</html>
